
html,body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background: rgb(36, 58, 58);
    height: 100%;
    width: 100%;
    
}
.header{
    padding: 10px;
    display:flex;
    flex-direction: row;
}

.header-element{ 
    background: rgb(252, 13, 72);
    width: 180px;
    margin: auto;
    height: auto;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.picture{
    padding: 10px;
    display:flex;
    flex-direction: row;
    height: 500px;
    width: 98.5%;
}

.pic-content{
    height: 100%;  
    padding: 10px;
    
}

.product{
    width: 70%;

}
.price{
    width: 30%;
    
}

.product img{
    height: 100%;
    width: 100%;
}

.price-con{
    background: rgb(252, 13, 72);
    margin-left: 20px;
    height: 45%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.first{
    margin-bottom: 5%;
}
.second{
    margin-top: 12.5%;
}

.car-price{
    font-size: 50px;
    font-weight: 400 ;
}
.car-brand{
    text-transform: uppercase;
    font-weight: 1000;
}
.car{
    width: 98.5%;
    padding: 10px;
    display:flex;
    flex-direction: row;
}

.car-element{ 
    background: rgb(255, 255, 255);
    width: 22%;
    border-radius: 8px;
    margin: auto;
    height: 400px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.car-element img{
    width: 100%;
    height:50%;
}